html,
body,
#body {
    background-color: lightgrey;
}

#red {
color: red;
}

#green {
color: green;
}

#BTC-Price {
    font-style: bold;
    font-size: 36px;
    text-align: center;
    /*border: 2px solid #a6a6a6;*/
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    color: #08aa00;
    margin-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;

}

#LTC-Price {
    font-style: bold;
    font-size: 36px;
    text-align: center;
    /*border: 2px solid #a6a6a6;*/
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    color: #999999;
    margin-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;

}

#ETH-Price {
    font-style: bold;
    font-size: 36px;
    text-align: center;
    /*border: 2px solid #a6a6a6;*/
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    color: #999999;
    margin-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;

}

#BTC-History {
    font-size: 24px;
    text-align: center;
}

.Price-container {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #282c34;
}

#header {
    height: 20px;
    background-color: #20232a;
}

.history{
    background-color: #20232a;
    height: 600px;
}
